<link rel="stylesheet" href="/css/custom-btn.css">
<link rel="stylesheet" href="/css/table.css">
<link rel="stylesheet" href="/css/phuong/shared.css">
<link rel="stylesheet" href="/css/modal.css">

<style>
    .shared-header {
        padding: 1.5rem 2rem;
    }
</style>

<div class="shared-container">

    {{!-- Header--}}
    <div class="shared-header">
        <h1>Yêu cầu điều chỉnh</h1>
    </div>


    {{!-- Table --}}
    <div class="shared-table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Địa điểm quảng cáo</th>
                    <th scope="col">Thời điểm gửi yêu cầu</th>
                    <th scope="col">
                        <select id="reasonFilter" name="">
                            <option value="all" onclick="reasonFilter('all')">Lý do chỉnh sửa</option>
                            {{#each reason}}
                                <option value="{{value}}" onclick="reasonFilter('{{value}}')">{{value}}</option>
                            {{/each}}
                        </select>
                    </th>
                    <th scope="col">
                        <select id="statusFilter" name="">
                            <option value="all" onclick="statusFilter('all')">Tình trạng xử lý</option>
                            <option value="0" onclick="statusFilter(0)">Đang xử lý</option>
                            <option value="1" onclick="statusFilter(1)">Đã xử lý</option>
                            <option value="2" onclick="statusFilter(2)">Từ chối</option>
                        </select>
                    </th>
                    <th scope="col">Chi tiết</th>
                </tr>
            </thead>

            <tbody>
                {{#each changeReq}}
                    <tr>
                        <td scope="col">{{addNumber @index 1}}</td>
                        <td scope="col">jytk</td>
                        <td scope="col">{{date}}</td>
                        <td scope="col">{{reason}}</td>

                        <td scope="col">
                            {{#if (equalNumber status 0)}}
                            <div class="status-tag status-tag-dangxuly">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"> <circle cx="12" cy="12" r="10"></circle> <polyline points="12 6 12 12 16 14"></polyline> </svg>
                                <span class='status-tag__title'>Đang xử lý</span>
                            </div>
                            {{/if}}

                            {{#if (equalNumber status 1)}}
                            <div class="status-tag status-tag-daxuly">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"> <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path> <polyline points="22 4 12 14.01 9 11.01"></polyline> </svg>
                                <span class='status-tag__title'>Đã xử lý</span>
                            </div>
                            {{/if}}

                            {{#if (equalNumber status 2)}}
                            <div class="status-tag status-tag-tuchoi">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"> <circle cx="12" cy="12" r="10"></circle> <line x1="15" y1="9" x2="9" y2="15"></line> <line x1="9" y1="9" x2="15" y2="15"></line> </svg>
                                <span class='status-tag__title'>Từ chối</span>
                            </div>
                            {{/if}}
                        </td>
                        
                        <td scope="col">
                            <button class="table-detail-button" data-ad-old-details="{{toJSON (getAdInfo ../ad oldAdId)}}" data-ad-new-details="{{toJSON new}}" data-change-req-id={{changeReqId}} data-account-role="phuong" data-status={{status}}>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-info">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <line x1="12" y1="16" x2="12" y2="12"></line>
                                    <line x1="12" y1="8" x2="12.01" y2="8"></line>
                                </svg>
                            </button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <!-- Change request detail modal -->
    <div class="modal fade" id="changeReqDetailModal" tabindex="-1" aria-labelledby="changeReqDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Địa điểm & Bảng QC</h5>
                    <button type="button" class="row align-items-start btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="changeReqDetailContent">
                    <div class="row justify-content-center" id="changeReqDetailTable">
                        <div class="table">
                            <table class="table table-primary">
                                <thead>
                                    <tr>
                                        <th scope="col"> </th>
                                        <th scope="col">Thông tin cũ</th>
                                        <th scope="col">Thông tin mới</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Tên</th>
                                        <td id="changeReqDetailOldName"></td>
                                        <td id="changeReqDetailNewName"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Kích thước</th>
                                        <td id="changeReqDetailOldSize"></td>
                                        <td id="changeReqDetailNewSize"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Hình ảnh</th>
                                        <td>
                                            <div id="changeReqDetailOldNoThumbnails" style="display: none">
                                                <h6>Không có hình ảnh để hiển thị</h6>
                                            </div>
                                            <div id="changeReqDetailOldThumbnails" class="carousel slide" data-ride="carousel">
                                                <div class="carousel-inner"></div>
                                                <button class="carousel-control-prev" type="button" data-bs-target="#changeReqDetailOldThumbnails" data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                </button>
                                                <button class="carousel-control-next" type="button" data-bs-target="#changeReqDetailOldThumbnails" data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                </button>
                                            </div>
                                        </td>
                                        <td>
                                            <div id="changeReqDetailNewNoThumbnails" style="display: none">
                                                <h6>Không có hình ảnh để hiển thị</h6>
                                            </div>
                                            <div id="changeReqDetailNewThumbnails" class="carousel slide" data-ride="carousel">
                                                <div class="carousel-inner"></div>
                                                <button class="carousel-control-prev" type="button" data-bs-target="#changeReqDetailNewThumbnails" data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                </button>
                                                <button class="carousel-control-next" type="button" data-bs-target="#changeReqDetailNewThumbnails" data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
                <div class="row justify-content-end" id="changeReqDetailChoice">
                    <button id="changeReqDetailChoiceDeny" onclick="" class="col-2">Từ chối</button>
                    <button id="changeReqDetailChoiceAccept" onclick="" class="col-2">Chấp thuận</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Custom JS script --}}
<script src="/js/changeReqDetail.js"></script>