<link rel="stylesheet" href="/css/custom-btn.css">
<link rel="stylesheet" href="/css/table.css">
<link rel="stylesheet" href="/css/so/nhansu.css">
<link rel="stylesheet" href="/css/modal.css">


<div class="nhansu-container">

    {{!-- Header--}}
    <div class="nhansu-header">
        <h1>Quản lý Nhân sự</h1>

        <div class="d-flex">
            <button class="btn btn-outline-primary custom-btn" id="newAccountButton"  
                data-bs-toggle="modal" data-bs-target="#newAccountModal">
                    Thêm cán bộ
            </button>
        </div>
    </div>


    {{!-- Table --}}
    <div class="nhansu-table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Họ và tên</th>
                    <th scope="col">Thông tin liên lạc</th>
                    <th scope="col">
                        <select id="roleFilter" name="" class="rounded-3" onchange="roleFilter(this.value)">
                            <option value="all" selected disabled>Chức vụ</option>
                            <option value="all">Tất cả</option>
                            {{#each userRole}}
                                <option value="{{value}}">{{getAgentRole value}}</option>
                            {{/each}}
                        </select>
                    </th>
                    <th scope="col">Khu Vực</th>
                    <th scope="col">Tài Khoản</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
                {{!-- Pass data vào --}}
                {{#each account }}
                
                    <tr>
                        <td scope="col">{{addNumber @index 1}}</td>
                        <td scope="col">{{name}}</td>
                        <td scope="col">{{phone}}</td>
                        <td scope="col">
                            Cán Bộ {{getAgentRole role}}
                        </td>
                        <td scope="col">
                            {{#if (translateAgentArea ../adArea quan_id phuong_id)}}
                                {{translateAgentArea ../adArea quan_id phuong_id}}
                            {{else}}
                                No data
                            {{/if}}
                        </td>
                        <td scope="col">{{isUdfNullBlank username}}</td>
                        <td scope="col">
                            <button class="edit-button" data-id="{{_id}}" data-name="{{name}}" data-phone="{{phone}}" data-role="{{role}}" data-area="{{quan_id}}-{{phuong_id}}" data-user-name="{{username}}" data-password="{{password}}" data-account-role="so" data-page="nhansu">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    stroke="#0065FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-edit">
                                    <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                                </svg>
                            </button>
                        </td>
                        <td scope="col">
                            <button class="delete-button" data-id="{{_id}}" data-account-role="so" data-page="nhansu">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="#0065FF" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-trash-2">
                                    <polyline points="3 6 5 6 21 6"></polyline>
                                    <path
                                        d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                    </path>
                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                    <line x1="14" y1="11" x2="14" y2="17"></line>
                                </svg>
                            </button>
                        </td>
                    </tr>
                
                {{/each}}
            </tbody>
        </table>
    </div>

    <!-- The Permission Delete Modal -->
    <div class="modal" id="confirmationModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title">Bạn muốn xóa thông tin Cán bộ này ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Xác nhận xóa</button>
                    <button type="button" class="btn btn-secondary" id="cancelDeleteBtn"
                        data-bs-dismiss="modal">Hủy thao tác</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The Edit Modal -->
    <div class="modal fade" id="editUserModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="" id="editAccForm" onsubmit="editAcc(event)">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Chỉnh sửa thông tin nhân sự
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row g-2">
                            <div class="col mb-3">
                                <label for="hotenEdit" class="form-label">Họ và Tên</label>
                                <input type="text" id="hotenEdit" name="name" class="form-control"
                                    placeholder="Nhập họ và tên" required />
                            </div>
                            <div class="col mb-3">
                                <label for="phoneEdit" class="form-label">Số Điện Thoại</label>
                                <input type="text" id="phoneEdit" name="phone" class="form-control"
                                    placeholder="Nhập số điện thoại" required />
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col mb-3">
                                <label for="usernameEdit" class="form-label">Tài Khoản</label>
                                <input type="text" id="usernameEdit" name="username" class="form-control"
                                    placeholder="Nhập tên tài khoản" required />
                            </div>
                            <div class="col mb-3">
                                <label for="passwordEdit" class="form-label">Mật Khẩu</label>
                                <input type="text" id="passwordEdit" name="password" class="form-control"
                                    placeholder="Nhập mật khẩu" />
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col mb-3">
                                <label for="roleEdit" class="form-label">Chức Vụ</label>
                                <select id="roleEdit" name="role" class="rounded-3 form-select">
                                    <option value="">Cán Bộ</option>
                                    <option value="1">Cán bộ phường</option>
                                    <option value="2">Cán bộ quận</option>
                                    <option value="3">Cán bộ sở</option>
                                </select>
                            </div>
                            <div class="col mb-3">
                                <label for="areaEdit" class="form-label">Khu Vực</label>
                                <input type="text" id="areaEdit" name="area" class="form-control"
                                    placeholder="Sở Văn Hóa Và Truyền Thống" />
                                <select id="quanID" name="quanID" class="rounded-3 form-select" hidden>
                                    <option value="">Quận</option>
                                    {{#each (mapToArray adArea)}}
                                        <option value="{{idQuan}}" data-wards="{{toJSON wards}}">{{name}}</option>
                                    {{/each}}
                                </select>
                                <select id="phuongID" name="phuongID" class="rounded-3 form-select" hidden>
                                    <option value="">Phường</option>
                                </select>
                            </div>
                        </div>
                        <div class="text-center badge bg-label-danger" id="errorMessage"></div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" id="id" value="" />
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
                            id="closeBtnEdit">
                            Đóng
                        </button>
                        <button type="submit" class="btn btn-primary">
                            Lưu thông tin
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Create new account modal -->
    <div class="modal fade" id="newAccountModal" tabindex="-1" role="dialog" aria-labelledby="newAccountModalLabel" aria-hidden="true">
        <form action="" id="newAccountCreateForm" onsubmit="createAcc(event)">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="width: 70%;">
                <div class="modal-content">
                    <div class="modal-header d-flex flex-column">
                        <div class="w-100 d-flex flex-row">
                            <h5 class="modal-title w-100 fw-bold" id="newAccountModalLabel">Tạo Tài Khoản Mới</h5>
                            <button type="button" class="btn-close w-5" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="modal-body" id="newAccountModalContent">

                        <div class="container-fluid">
                            {{!-- Họ tên + Sđt --}}
                            <div class="d-flex flex-row justify-content-between" style="margin-bottom: 8px;">
                                <div class="d-flex flex-column" style="min-width: 33%;" id="newAccountName">
                                    <p class="fs-6 fw-semibold lh-base m-0" style="padding-bottom: 5px;">Họ và Tên<span class="text-danger">*</span></p>
                                    <div class="input-group mb-3" style="padding-right: 12%;">
                                        <input type="text" class="form-control" placeholder="Nhập họ và tên" aria-label="Company" name="newAccountName" >
                                    </div>
                                </div>

                                <div class="d-flex flex-column " style="min-width: 33%;"> 
                                    <p class="fs-6 fw-semibold lh-base m-0" style="padding-bottom: 5px;" id="newAccountCategoryTitle">Số điện thoại liên lạc<span class="text-danger">*</span></p>
                                    <div class="input-group mb-3" style="padding-right: 10%;">
                                        <input type="text" class="form-control" placeholder="Nhập số điện thoại" aria-label="Phone" id="newAccountPhone" name="newAccountPhone" >
                                    </div>
                                </div>

                                <div class="d-flex flex-column " style="min-width: 33%;"> 
                                    <p class="fs-6 fw-semibold lh-base m-0" style="padding-bottom: 5px;" id="newAccountCategoryTitle">Email<span class="text-danger">*</span></p>
                                    <div class="input-group mb-3" style="padding-right: 10%;">
                                        <input type="email" class="form-control" placeholder="Nhập địa chỉ email" aria-label="Phone" id="newAccountEmail" name="newAccountEmail" >
                                    </div>
                                </div>
                            </div>

                            {{!-- Tài Khoản + Mật khẩu --}}
                            <div class="d-flex flex-row justify-content-between" style="margin-bottom: 8px;">
                                <div class="d-flex flex-column" style="min-width: 50%;" id="newAccountUserName">
                                    <p class="fs-6 fw-semibold lh-base m-0" style="padding-bottom: 5px;">Tài Khoản<span class="text-danger">*</span></p>
                                    <div class="input-group mb-3" style="padding-right: 12%;">
                                        <input type="text" id="newAccountUserName" name="newAccountUserName" class="form-control"
                                            placeholder="Nhập tên tài khoản" required />
                                    </div>
                                </div>

                                <div class="d-flex flex-column " style="min-width: 50%;"> 
                                    <p class="fs-6 fw-semibold lh-base m-0" style="padding-bottom: 5px;" id="newAccountPass">Mật Khẩu<span class="text-danger">*</span></p>
                                    <div class="input-group mb-3" style="padding-right: 10%;">
                                        <input type="text" id="passwordEdit" name="newAccountPass" class="form-control"
                                            placeholder="Nhập mật khẩu" required />
                                    </div>
                                </div>
                            </div>

                            {{!-- Chức vụ + Quận + Phường --}}
                            <div class="d-flex flex-row justify-content-between" style="margin-bottom: 8px;">
                                <div class="d-flex flex-column" style="min-width: 33%;" id="newAccountRoleDiv">
                                    <p class="fs-6 fw-semibold lh-base m-0" style="padding-bottom: 5px;" id="newAccountCategoryTitle">Chức vụ<span class="text-danger">*</span></p>
                                    <div class="input-group mb-3" style="padding-right: 12%;">
                                        <select id="newAccountRole" name="newAccountRole" class="rounded-3 form-select">
                                            <option value="">Chức vụ</option>
                                            <option value="1">Cán bộ phường</option>
                                            <option value="2">Cán bộ quận</option>
                                            <option value="3">Cán bộ sở</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="d-flex flex-column" style="min-width: 33%;" id="newAccountDistrictDiv">
                                    <p class="fs-6 fw-semibold lh-base m-0" style="padding-bottom: 5px;" id="newAccountCategoryTitle">Quận<span class="text-danger">*</span></p>
                                    <div class="input-group mb-3" style="padding-right: 12%;">
                                        <select id="newAccountDistrict" name="newAccountDistrict" class="rounded-3 form-select" >
                                            <option value="">Quận</option>
                                            {{#each (mapToArray adArea)}}
                                                <option value="{{idQuan}}" data-wards="{{toJSON wards}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>

                                <div class="d-flex flex-column" style="min-width: 33%;" id="newAccountWardDiv">
                                    <p class="fs-6 fw-semibold lh-base m-0" style="padding-bottom: 5px;" id="newAccountCategoryTitle">Phường<span class="text-danger">*</span></p>
                                    <div class="input-group mb-3" style="padding-right: 12%;">
                                        <select id="newAccountWard" name="newAccountWard" class="rounded-3 form-select" >
                                            <option value="">Phường</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            {{!-- Nút Save --}}
                            <button class="btn btn-outline-primary text-start" id="newAccountCreate" type="submit" autocomplete="off" style="border: 2px solid; max-width: 60%; float:right;"> 
                                Tạo tài khoản
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

{{!-- Custom Delete Btn --}}
<script src="/js/deleteMethod.js"></script>

<script src="/js/editMethod.js"></script>

<script src="/js/createMethod.js"></script>

<script src="/js/accountDetail.js"></script>



