<link rel="stylesheet" href="/css/table.css">
<div class="container-fluid d-flex flex-column px-1 h-100">
    
    {{!-- Title và filter --}}
    <div class="row" style="padding: 1.5em;">
        <span class="fs-2 fw-semibold" style="color: rgb(93,102,121); margin-right: 2em; width:55%;">Quảng Cáo</span>
        <div class="d-flex flex-row mt-2 justify-content-around" style="width: 40%; height: 65%;" >
            {{!-- Chức Vụ --}}
            <div class="border border-2 rounded-3 px-1">
                <span class="fs-6 fw-semibold ms-1" style="color: rgb(93,102,121);">Chức Vụ</span>
                <img src="/assets/icon/arrowdown_ic_n.svg" class="mb-1 mx-1">
            </div>
            {{!-- Nút thêm --}}
            <div class="rounded-3 px-3" style="background-color: 	
rgb(0,101,255); border: rgb(0,101,255); padding-top: 0.2em;">
                <span class="fs-6 fw-semibold" style="color: white;">Thêm Quảng Cáo</span>
            </div>
            {{!-- Nút Sửa --}}
            <div class="rounded-3 px-3" style="background-color: 	
rgb(0,101,255); border: rgb(0,101,255); padding-top: 0.2em;">
                <span class="fs-6 fw-semibold" style="color: white;">Sửa Quảng Cáo</span>
            </div>
        </div>
    </div>

    {{!-- Table --}}
    <div class="row" style="padding: 1.5em;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Họ Tên</th>
                    <th scope="col">Thông Tin Liên Lạc</th>
                    <th scope="col">Chức Vụ</th>
                    <th scope="col">Khu Vực</th>
                    <th scope="col">Tài Khoản</th>
                    <th scope="col">Mật Khẩu</th>
                </tr>
            </thead>
            <tbody>
                {{!-- Pass data vào --}}
                {{#each account }}
                <tr>
                    <td scope="col"  style="padding-top: 1em;">
                        <span class="reportTableData fs-6">{{@index}}</span>
                    </td>
                    <td scope="col" style="padding-top: 1em;">
                        <span class="reportTableData fs-6">{{fullname}}</span>
                    </td>
                    <td scope="col" style="padding-top: 1em;" >
                        <span class="reportTableData fs-6">{{phone}}</span>
                    </td>
                    <td scope="col" style="padding-top: 0.6em;">
                        <div class="border border-2 rounded-3 px-1" style="display: inline-flex; line-height: 2em;">
                            <span class="reportTableData fs-6 ms-1">Cán Bộ {{getAgentRole role}}</span>
                            <img src="/assets/icon/arrowdown_ic_n.svg" class="me-1 ms-2">
                        </div>
                    </td>
                    <td scope="col" style="padding-top: 0.6em;" >
                        <div class="border border-2 rounded-3 px-1" style="display: inline-flex; line-height: 2em;">
                            <span class="reportTableData fs-6 ms-1" >
                                    {{translateAgentArea idQuan idPhuong}}
                            </span>
                            <img src="/assets/icon/arrowdown_ic_n.svg" class="me-1 ms-2">
                        </div>
                    </td>
                    <td scope="col" style="padding-top: 1em;">
                        <span class="reportTableData fs-6" >
                            {{isUdfNullBlank username}}
                        </span>
                    </td>
                    <td scope="col" style="padding-top: 1em;">
                        <span class="reportTableData fs-6" >
                            {{isUdfNullBlank password}}
                        </span>
                    </td>
                </tr>
                {{/each}}
</div>