<link rel="stylesheet" href="/css/custom-btn.css">
<link rel="stylesheet" href="/css/table.css">
<link rel="stylesheet" href="/css/so/nhansu.css">


<div class="nhansu-container">

    {{!-- Header--}}
    <div class="nhansu-header">
        <h1>Nhân sự</h1>

        <div class="d-flex">
            <button class="btn btn-outline-primary custom-btn">Thêm nhân sự</button>
        </div>
    </div>


    {{!-- Table --}}
    <div class="nhansu-table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Họ tên</th>
                    <th scope="col">Thông tin liên lạc</th>
                    <th scope="col">
                        <select id="roleFilter" name="" class="rounded-3" onchange="roleFilter(this.value)">
                            <option value="all">Chức vụ</option>
                            {{#each userRole}}
                                <option value="{{value}}">{{getAgentRole value}}</option>
                            {{/each}}
                        </select>
                    </th>
                    <th scope="col">Khu Vực</th>
                    <th scope="col">Tài Khoản</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
                {{!-- Pass data vào --}}
                {{#each account }}
                {{#if (checkIDValidate id)}}
                <tr>
                    <td scope="col">{{@index}}</td>
                    <td scope="col">{{name}}</td>
                    <td scope="col">{{phone}}</td>
                    <td scope="col">
                        Cán Bộ {{getAgentRole role}}
                    </td>
                    <td scope="col">
                        {{#if (translateAgentArea ../adArea quan_id phuong_id)}}
                            {{translateAgentArea ../adArea quan_id phuong_id}}
                        {{else}}
                            No data
                        {{/if}}
                    </td>
                    <td scope="col">{{isUdfNullBlank username}}</td>
                    <td scope="col">
                        <button class="edit-button" data-id="{{_id}}" data-name="{{name}}" data-phone="{{phone}}" data-role="{{role}}" data-area="{{quan_id}}-{{phuong_id}}" data-user-name="{{username}}" data-password="{{password}}" data-account-role="so" data-page="nhansu">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                stroke="#0065FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-edit">
                                <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                            </svg>
                        </button>
                    </td>
                    <td scope="col">
                        <button class="delete-button" data-id="{{accountId}}" data-account-role="so" data-page="nhansu">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="#0065FF" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-trash-2">
                                <polyline points="3 6 5 6 21 6"></polyline>
                                <path
                                    d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                </path>
                                <line x1="10" y1="11" x2="10" y2="17"></line>
                                <line x1="14" y1="11" x2="14" y2="17"></line>
                            </svg>
                        </button>
                    </td>
                </tr>
                {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div>

    <!-- The Permission Delete Modal -->
    <div class="modal" id="confirmationModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Are you sure?</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Yes</button>
                    <button type="button" class="btn btn-secondary" id="cancelDeleteBtn"
                        data-bs-dismiss="modal">No</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The Edit Modal -->
    <div class="modal fade" id="editUserModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="" id="editAccForm" onsubmit="editAcc(event)">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Chỉnh sửa nhân sự
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row g-2">
                            <div class="col mb-3">
                                <label for="hotenEdit" class="form-label">Họ Tên</label>
                                <input type="text" id="hotenEdit" name="name" class="form-control"
                                    placeholder="Báo" required />
                            </div>
                            <div class="col mb-3">
                                <label for="phoneEdit" class="form-label">Số Điện Thoại</label>
                                <input type="text" id="phoneEdit" name="phone" class="form-control"
                                    placeholder="12354" required />
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col mb-3">
                                <label for="usernameEdit" class="form-label">Tài Khoản</label>
                                <input type="text" id="usernameEdit" name="username" class="form-control"
                                    placeholder="12354" required />
                            </div>
                            <div class="col mb-3">
                                <label for="passwordEdit" class="form-label">Mật Khẩu</label>
                                <input type="text" id="passwordEdit" name="password" class="form-control"
                                    placeholder="123" />
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col mb-3">
                                <label for="roleEdit" class="form-label">Chức Vụ</label>
                                <select id="roleEdit" name="role" class="rounded-3 form-select">
                                    <option value="1">Cán bộ phường</option>
                                    <option value="2">Cán bộ quận</option>
                                    <option value="3">Cán bộ sở</option>
                                </select>
                            </div>
                            <div class="col mb-3">
                                <label for="areaEdit" class="form-label">Khu Vực</label>
                                <input type="text" id="areaEdit" name="area" class="form-control"
                                    placeholder="Sở Văn Hóa Và Truyền THống" />
                                <select id="quanID" name="quanID" class="rounded-3 form-select" hidden>
                                    <option value="">Quận</option>
                                    {{#each (mapToArray adArea)}}
                                        <option value="{{idQuan}}" data-wards="{{toJSON wards}}">{{name}}</option>
                                    {{/each}}
                                </select>
                                <select id="phuongID" name="phuongID" class="rounded-3 form-select my-2" hidden>
                                    <option value="">Phường</option>
                                </select>
                            </div>
                        </div>
                        <div class="text-center badge bg-label-danger" id="errorMessage"></div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" id="id" value="" />
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
                            id="closeBtnEdit">
                            Close
                        </button>
                        <button type="submit" class="btn btn-primary">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- Custom Delete Btn --}}
<script src="/js/deleteMethod.js"></script>

<script src="/js/editMethod.js"></script>

<script src="/js/accountDetail.js"></script>



