<link rel="stylesheet" href="/css/custom-btn.css">
<link rel="stylesheet" href="/css/table.css">
<link rel="stylesheet" href="/css/phuong/shared.css">
<link rel="stylesheet" href="/css/modal.css">

<style>
    .shared-header {
        padding: 1.5rem 2rem;
    }
    table tbody tr td {
        padding: calc(.5rem + 6px) calc(.5rem + 12px) !important;
    }
</style>

<div class="shared-container">

    {{!-- Header--}}
    <div class="shared-header">
        <h1>Thông tin quảng cáo</h1>
    </div>


    {{!-- Table --}}
    <div class="shared-table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Địa Điểm</th>
                    <th scope="col">
                        <select id="adTypeFilter" name="" onchange="adTypeFilter(this.value)">
                            <option value="all">Loại quảng cáo</option>
                            {{#each adType}}
                                <option value="{{value}}">{{value}}</option>
                            {{/each}}
                        </select>
                    </th>
                    <th scope="col">
                        <select id="adFormFilter" name="" onchange="adFormFilter(this.value)">
                            <option value="all">Hình thức</option>
                            {{#each adForm}}
                                <option value="{{value}}">{{value}}</option>
                            {{/each}}
                        </select>
                    </th>
                    <th scope="col">
                        <select id="locationTypeFilter" name="" onchange="locationTypeFilter(this.value)">
                            <option value="all">Loại vị trí</option>
                            {{#each locationType}}
                                <option value="{{value}}">{{value}}</option>
                            {{/each}}
                        </select>
                    </th>
                    <th scope="col">Chi tiết</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
                {{!-- Pass data vào --}}
                {{createGlobal 'adIndex' 1}}
                {{#each adLocation}}
                    {{#each adList}}
                        {{#each (getAdInfo ../../ad adId)}} 
                                {{#if (checkIDValidate delete)}}
                                    {{else}}
                                    <tr>
                                        <td scope="col">{{getGlobal 'adIndex'}}</td>
                                        <td scope="col">{{name}}</td>
                                        <td scope="col"> {{getLocation ../../../adLocation ../../locationId 2}}</td>
                                        <td scope="col">{{../../adType}}</td>
                                        <td scope="col">{{../../adForm}}</td>
                                        <td scope="col">{{../../locationType}}</td>
                                        
                                        <td scope="col">
                                            <button class="table-detail-button" data-ad-location-details="{{toJSON (arrayIndex ../../../adLocation @../../index)}}" data-ad-address="{{getLocation ../../../adLocation ../../locationId 0}}" data-ad-details="{{toJSON (getAdInfo ../../../ad ../adId)}}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-info">
                                                    <circle cx="12" cy="12" r="10"></circle>
                                                    <line x1="12" y1="16" x2="12" y2="12"></line>
                                                    <line x1="12" y1="8" x2="12.01" y2="8"></line>
                                                </svg>
                                            </button>
                                        </td>

                                        <td scope="col">
                                            <button class="ttqc-delete-button" data-location-id="{{../../locationId}}" data-ad-id="{{../adId}}" data-account-role="so" data-page="thongtinquangcao"> 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#0065FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                            </button>
                                        </td>
                                        
                                    </tr>
                                    {{incrementGlobal 'adIndex'}}
                                {{/if}}
                        {{/each}}
                        
                    {{/each}}
                {{/each}}
                {{removeGlobal 'adIndex' 1}}
            </tbody>
        </table>
    </div>

    <!-- Ad detail modal -->
    <div class="modal fade" id="adDetailModal" tabindex="-1" aria-labelledby="adDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="adDetailModalLabel">
                        Thông tin chi tiết
                        <br>
                        <i class="bi bi-geo-alt" id="adDetailAddress"></i>
                    </h6>
                    <button type="button" class="row align-items-start btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="adDetailContent">
                    <h5 class="row justify-content-center" id="adDetailName"></h5>
                    <div class="row" id="adDetailCategoryRow">
                        <div class="col">
                            <h6 id="adDetailCategoryTitle">Loại bảng quảng cáo</h6>
                            <h6 id="adDetailType"></h6>
                        </div>
                        <div class="col">
                            <h6 id="adDetailCategoryTitle">Hình thức quảng cáo</h6>
                            <h6 id="adDetailForm"></h6>
                        </div>
                        <div class="col">
                            <h6 id="adDetailCategoryTitle">Loại vị trí</h6>
                            <h6 id="adDetailLocationType"></h6>
                        </div>
                    </div>
                    <div class="row" id="adDetailCategoryRow">
                        <div class="col">
                            <h6 id="adDetailCategoryTitle">Thời hạn hợp đồng</h6>
                            <div id="adDetailContractDate" class="d-flex flex-row text-primary">
                                <img src="/assets/icon/LineDate.svg" alt="Date Raange Icon" class="mb-2 me-1">
                                <div class="d-flex flex-column" id="adDetailContractDateContainer">
                                    <h6 id="adDetailContractDateStart" ></h6>
                                    <h6 id="adDetailContractDateEnd"></h6>
                                </div>      
                            </div>
                        </div>
                        <div class="col">
                            <h6 id="adDetailCategoryTitle">Kích thước</h6>
                            <h6 id="adDetailSize"></h6>
                        </div>
                        <div class="col"> </div>
                    </div>
                    <hr>
                    <div class="row">
                        <h6 id="adDetailCategoryTitle">Hình ảnh quảng cáo</h6>
                        <div class="row">
                            <div id="adDetailNoThumbnails" style="display: none">
                                <h6>Không có hình ảnh để hiển thị</h6>
                            </div>
                            <div id="adDetailThumbnails" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner"></div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#adDetailThumbnails" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#adDetailThumbnails" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    
<!-- The Permission Delete Modal -->
    <div class="modal fade" id="confirmationModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Are you sure?</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Yes</button>
                    <button type="button" class="btn btn-secondary" id="cancelDeleteBtn" data-bs-dismiss="modal">No</button>
                </div>

            </div>
        </div>
    </div>
</div>

{{!-- Custom JS script --}}
<script src="/js/adDetail.js"></script>


<script src="/js/deleteMethod.js"></script>