<link rel="stylesheet" href="/css/custom-btn.css">
<link rel="stylesheet" href="/css/table.css">
<link rel="stylesheet" href="/css/so/ttqc.css">
<link rel="stylesheet" href="/css/modal.css">

<div class="ttqc-container">

    {{!-- Header--}}
    <div class="ttqc-header">
        <h1>Thông tin quảng cáo</h1>

        <div class="d-flex">
            <button class="btn btn-outline-primary custom-btn">Thêm quảng cáo</button>

            <button class="btn btn-outline-primary custom-btn mx-3 ">Sửa quảng cáo</button>
        </div>
    </div>


    {{!-- Table --}}
    <div class="ttqc-table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Địa Điểm</th>
                    <th scope="col">
                        <select id="" name="">
                            <option value="all">Loại quảng cáo</option>
                            <option value="1">Trụ bảng hiflex</option>
                            <option value="2">Màn hình điện tử ốp tường</option>
                            <option value="3">Trụ treo băng rôn ngang</option>
                            <option value="4">Cổng chào</option>
                        </select>
                    </th>
                    <th scope="col">Kích thước</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">
                        <select id="" name="">
                            <option value="all">Hình thức</option>
                            <option value="1">Cổ động chính trị</option>
                            <option value="2">Quảng cáo thương mại</option>
                        </select>
                    </th>
                    <th scope="col">
                        <select id="" name="">
                            <option value="all">Loại vị trí</option>
                            <option value="1">Công viên</option>
                            <option value="2">Đất tư nhân</option>
                        </select>
                    </th>
                    <th scope="col">Chi tiết</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
                {{!-- Pass data vào --}}
                {{createGlobal 'adIndex' 1}}
                {{#each adLocation}}
                    {{#each adList}}
                        <tr>
                            <td scope="col">{{getGlobal 'adIndex'}}</td>
                            {{#each (getAdInfo ../../ad adId)}}
                                <td scope="col">{{name}}</td>
                            {{/each}}
                            <td scope="col"> {{getLocation ../../adLocation ../locationId 2}}</td>
                            <td scope="col">{{../type}}</td>
                            {{#each (getAdInfo ../../ad adId)}}
                                <td scope="col">{{size}}</td>
                            {{/each}}
                            <td scope="col">{{../quantity}}</td>
                            <td scope="col">{{../form}}</td>
                            <td scope="col">{{../locationType}}</td>
                            
                            <td scope="col">
                                <button class="table-detail-button" data-ad-location-details="{{toJSON ../../adLocation}}" data-ad-address="{{getLocation ../../adLocation ../locationId 0}}" data-ad-details="{{toJSON (getAdInfo ../../ad adId)}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-info">
                                        <circle cx="12" cy="12" r="10"></circle>
                                        <line x1="12" y1="16" x2="12" y2="12"></line>
                                        <line x1="12" y1="8" x2="12.01" y2="8"></line>
                                    </svg>
                                </button>
                            </td>
                            <td scope="col">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#0065FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                            </td>
                            <td scope="col">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#0065FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                            </td>
                        </tr>
                        {{incrementGlobal 'adIndex'}}
                    {{/each}}
                {{/each}}
                {{removeGlobal 'adIndex' 1}}
            </tbody>
        </table>
    </div>


    <!-- Ad detail modal -->
    <div class="modal fade" id="adDetailModal" tabindex="-1" aria-labelledby="adDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="adDetailModalLabel">
                        Thông tin chi tiết
                        <br>
                        <i class="bi bi-geo-alt" id="adDetailAddress"></i>
                    </h6>
                    <button type="button" class="row align-items-start btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="adDetailContent">
                    <h5 class="row justify-content-center" id="adDetailName"></h5>
                    <div class="row" id="adDetailCategoryRow">
                        <div class="col">
                            <h6 id="adDetailCategoryTitle">Loại bảng quảng cáo</h6>
                            <h6 id="adDetailType"></h6>
                        </div>
                        <div class="col">
                            <h6 id="adDetailCategoryTitle">Hình thức quảng cáo</h6>
                            <h6 id="adDetailForm"></h6>
                        </div>
                        <div class="col">
                            <h6 id="adDetailCategoryTitle">Loại vị trí</h6>
                            <h6 id="adDetailLocationType"></h6>
                        </div>
                    </div>
                    <div class="row" id="adDetailCategoryRow">
                        <div class="col">
                            <h6 id="adDetailCategoryTitle">Thời hạn hợp đồng</h6>
                            <h6 id="adDetailContractDate"></h6>
                        </div>
                        <div class="col">
                            <h6 id="adDetailCategoryTitle">Kích thước</h6>
                            <h6 id="adDetailSize"></h6>
                        </div>
                        <div class="col"> </div>
                    </div>
                    <hr>
                    <div class="row">
                        <h6 id="adDetailCategoryTitle">Hình ảnh quảng cáo</h6>
                        <div class="row">
                            <div id="adDetailNoThumbnails" style="display: none">
                                <h6>Không có hình ảnh để hiển thị</h6>
                            </div>
                            <div id="adDetailThumbnails" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="..." alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="..." alt="Second slide">
                                    </div>
                                </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#adDetailThumbnails" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#adDetailThumbnails" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Custom JS script --}}
<script src="/js/adDetail.js"></script>