<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4">Thông tin cá nhân</h4>

  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <h5 class="card-header">Chi tiết</h5>
        <!-- Account -->
        <div class="card-body">
          <div class="d-flex align-items-start align-items-sm-center gap-4">
            <img src="{{#if avatar}}{{avatar}}{{else}}/img/avatar.jpg{{/if}}" alt="user-avatar" class="d-block rounded" height="100" width="100"
              id="uploadedAvatar" />
            <div class="button-wrapper">
              <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                <span class="d-none d-sm-block">Tải lên ảnh mới</span>
                <i class="bx bx-upload d-block d-sm-none"></i>
                <input type="file" id="upload" data-role="{{role}}" name="avatar" class="account-file-input" hidden accept="image/png, image/jpeg" />
              </label>
              <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                <i class="bx bx-reset d-block d-sm-none"></i>
                <span class="d-none d-sm-block">Reset</span>
              </button>

              <p class="text-muted mb-0">Cho phép JPG, GIF hoặc PNG. Kích thước tối đa 800KB</p>
            </div>
          </div>
        </div>
        <hr class="my-0" />
        <div class="card-body">
          <form class="formInfoSettings"  onsubmit="accNamePhoneSettings(event)">
            {{!-- Tên + SDt --}}
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="name" class="form-label">Tên</label>
                <input class="form-control" type="text" id="name" name="name" value="{{accountInfo.name}}" />
              </div>
              
              <div class="mb-3 col-md-6">
                <label class="form-label" for="phoneNumber">Số Điện Thoại</label>
                <div class="input-group input-group-merge">
                  <span class="input-group-text">VN (+84)</span>
                  <input type="text" id="phone" name="phone" class="form-control"
                    placeholder="202 555 0111" value="{{accountInfo.phone}}" />
                </div>
              </div>
            </div>
            {{!-- Fb Id + Email --}}
            <div class="row">
              <div class="mb-3 col-md-6">
                <label class="form-label" for="phoneNumber">Facebook ID</label>
                <div class="input-group input-group-merge">
                  <input type="text" id="fbID" name="fbID" class="form-control"
                    placeholder="211813265517027" value="{{accountInfo.fbID}}" />
                </div>
              </div>

              <div class="mb-3 col-md-6">
                <label class="form-label" for="phoneNumber">Email</label>
                <div class="input-group input-group-merge">
                  <input type="text" id="email" name="email" class="form-control"
                    placeholder="example@gmail.com" value="{{accountInfo.email}}" />
                </div>
              </div>

            </div>
            
            <div class="mt-2">
              <input type="hidden" name="id" class="id" value="{{accountInfo._id}}" />
              <button type="submit" class="btn btn-primary me-2">Lưu</button>
              <button type="reset" class="btn btn-outline-secondary">Hủy</button>
            </div>
          </form>
        </div>
        <!-- /accountInfo -->
      </div>
      <div class="card mb-5 ">
        <h5 class="card-header">Thay Đổi Mật Khẩu</h5>
        <div class="card-body d-flex justify-content-center">
          <a href="/changePassword" target="_blank"><button class="btn btn-primary me-2" id="click-me">Đổi Mật Khẩu</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/editMethod.js"></script>